# Copier ce fichier en .env et remplir avec vos valeurs
# cp .env.example .env

FREEWORK_EMAIL=votre_email@example.com
FREEWORK_PASSWORD=votre_mot_de_passe
FREEWORK_TEMPLATE="Bonjour,

Votre message de candidature personnalisé ici.

Cordialement,
VOTRE NOM"

OPENAI_API_KEY=sk-your-openai-api-key-here
